<ion-header>
  <ion-navbar>
    <ion-title *ngIf="device">{{ device.Device_Name }}</ion-title>
    <ion-title *ngIf="!device">{{ "View History" | translate }}</ion-title>
  </ion-navbar>
  <ion-item *ngIf="showDropDown">
    <ion-label>{{ SelectVehicle }}</ion-label>
    <select-searchable item-content [(ngModel)]="selectedVehicle" [items]="portstemp" itemValueField="Device_Name"
      itemTextField="Device_Name" [canSearch]="true" (onChange)="onChangedSelect(selectedVehicle)">
    </select-searchable>
  </ion-item>
  <ion-row style="background: white;">
    <ion-col width-50 padding-left class="col1">
      <ion-avatar item-start class="avtar">
        <img src="assets/imgs/clock.svg" align="left" />
      </ion-avatar>
      <ion-label style="margin-top: 1px;">
        <span style="font-size: 11px">{{ "From Date" | translate }}</span>
        <ion-datetime displayFormat="DD/MM/YYYY hh:mm a" pickerFormat="DD/MM/YY hh:mm a" [min]="twoMonthsLater"
          [max]="today" [(ngModel)]="datetimeStart" (ionChange)="changeformat(datetimeStart)" style="font-size: 10px;">
        </ion-datetime>
      </ion-label>
    </ion-col>
    <ion-col width-50 class="col1">
      <ion-avatar item-start class="avtar">
        <img src="assets/imgs/clock.svg" align="left" />
      </ion-avatar>
      <ion-label style="margin-top: 1px;">
        <span style="font-size: 11px">{{ "To Date" | translate }}</span>
        <ion-datetime displayFormat="DD/MM/YYYY hh:mm a" pickerFormat="DD/MM/YY hh:mm a" [(ngModel)]="datetimeEnd"
          (ionChange)="changeformat(datetimeEnd)" style="font-size: 10px;"></ion-datetime>
      </ion-label>
    </ion-col>
    <ion-col ion-text text-right padding-right>
      <ion-icon ios="ios-search" md="md-search" style="font-size:30px;" (tap)="btnClicked()">
      </ion-icon>
    </ion-col>
  </ion-row>
  <ion-row style="background-color: #fff; margin-top: -10px;">
    <ion-col style="text-align: center;">
      <button ion-button round small style="background-color: #f0810f; font-size: 0.8em; padding: 10px;width: 21%;"
        (click)="changeDate('today')">{{"Today" | translate}}</button>
      <button ion-button round small style="background-color: #f0810f; font-size: 0.8em; padding: 10px;width: 21%;"
        (click)="changeDate('yest')">{{"Yesterday" | translate}}</button>
      <button ion-button round small style="background-color: #f0810f; font-size: 0.8em; padding: 10px;width: 21%;"
        (click)="changeDate('week')">{{"Week" | translate}}</button>
      <button ion-button round small style="background-color: #f0810f; font-size: 0.8em; padding: 10px;width: 21%;"
        (click)="changeDate('month')">{{"Month" | translate}}</button>
    </ion-col>
  </ion-row>
</ion-header>
<ion-content *ngIf="!hideMe">
  <div id="map_canvas">
    <ion-fab top right style="margin-top: 17%;" *ngIf="showDropDown">
      <button ion-fab color="light" mini (click)="onClickMainMenu()">
        <ion-icon color="gpsc" name="map"></ion-icon>
      </button>
      <ion-fab-list side="bottom">
        <button ion-fab (click)="onClickMap('SATELLITE')" color="gpsc">
          S
        </button>
        <button ion-fab (click)="onClickMap('TERRAIN')" color="gpsc">
          T
        </button>
        <button ion-fab (click)="onClickMap('NORMAL')" color="gpsc">
          N
        </button>
      </ion-fab-list>
    </ion-fab>
    <ion-fab top left style="margin-top: 17%;" *ngIf="showDropDown">
      <button ion-fab color="light" mini>
        <ion-icon color="gpsc" name="arrow-round-forward"></ion-icon>
      </button>
      <ion-fab-list side="bottom">
        <button ion-fab (click)="stoppages()" color="gpsc">
          P
        </button>
        <button ion-fab (click)="onIdle()" color="gpsc">
          I
        </button>
      </ion-fab-list>
    </ion-fab>

    <ion-fab top right *ngIf="!showDropDown">
      <button ion-fab color="light" mini (click)="onClickMainMenu()">
        <ion-icon color="gpsc" name="map"></ion-icon>
      </button>
      <ion-fab-list side="bottom">
        <button ion-fab (click)="onClickMap('SATELLITE')" color="gpsc">
          S
        </button>
        <button ion-fab (click)="onClickMap('TERRAIN')" color="gpsc">
          T
        </button>
        <button ion-fab (click)="onClickMap('NORMAL')" color="gpsc">
          N
        </button>
      </ion-fab-list>
    </ion-fab>
    <ion-fab top left *ngIf="!showDropDown">
      <button ion-fab color="light" mini>
        <ion-icon color="gpsc" name="arrow-round-forward"></ion-icon>
      </button>
      <ion-fab-list side="bottom">
        <button ion-fab (click)="stoppages()" color="gpsc">
          P
        </button>
        <button ion-fab (click)="onIdle()" color="gpsc">
          I
        </button>
      </ion-fab-list>
    </ion-fab>
    <ion-fab style="right: calc(10px + env(safe-area-inset-right)); margin-top: 68%" *ngIf="showZoom">
      <button ion-fab mini (click)="zoomin()" color="gpsc">
        <ion-icon name="add" color="black"></ion-icon>
      </button>
    </ion-fab>
    <ion-fab style="right: calc(10px + env(safe-area-inset-right)); margin-top: 80%" *ngIf="showZoom">
      <button ion-fab mini (click)="zoomout()" color="gpsc">
        <ion-icon name="remove" color="black"></ion-icon>
      </button>
    </ion-fab>
    <ion-fab style="right: calc(10px + env(safe-area-inset-right)); margin-top: 92%" *ngIf="showZoom">
      <button ion-fab color="gpsc" mini (click)="reCenterMe()">
        <ion-icon name="locate"></ion-icon>
      </button>
    </ion-fab>
  </div>
</ion-content>

<div *ngIf="showActionSheet" class="divPlan">

  <ion-bottom-drawer [(state)]="drawerState" [dockedHeight]="dockedHeight" [shouldBounce]="shouldBounce"
    [distanceTop]="distanceTop" [transition]="transition" [minimumHeight]="minimumHeight" (click)="setDocHeight()">
    <div class="drawer-content">
      <ion-row style="margin-bottom:-10%;">
        <ion-col col-12 text-right>
          <ion-icon style="font-size: 1em; font-weight: bold;" name="close" (click)="closeDocker()"></ion-icon>
        </ion-col>
        <ion-col style="text-align:center;">
          <p style="font-size: 20px;color:black;text-align: center;" *ngIf="!durations">
            N/A
          </p>
          <p style="font-size: 20px;color:black;text-align: center;" *ngIf="durations">
            {{ durations }}
          </p>
        </ion-col>
      </ion-row>
      <ion-row style="margin-bottom: -6%;">
        <ion-col col-50>
          <p style="font-size: 13px;color:green;margin-left: 4%;" *ngIf="!arrTime">
            <ion-icon name="time" width="55" height="55" style="margin-top: 9%;color: green;"></ion-icon>&nbsp;&nbsp;N/A
          </p>
          <p style="font-size: 13px;color:green;margin-left: 4%;" *ngIf="arrTime">
            <ion-icon name="time" width="55" height="55" style="margin-top: 9%;color:green;"></ion-icon>
            &nbsp;&nbsp;{{ arrTime }}
          </p>
        </ion-col>
        <ion-col col-50>
          <p style="font-size: 13px;color:#ac0031;margin-left: 4%;" *ngIf="!depTime">
            <ion-icon name="time" width="55" height="55" style="margin-top: 9%;color:#ac0031;"></ion-icon>
            &nbsp;&nbsp;N/A
          </p>
          <p style="font-size: 13px;margin-left: 4%;color:#ac0031;" *ngIf="depTime">
            <ion-icon name="time" width="55" height="55" style="margin-top: 9%;color: #ac0031"></ion-icon>
            &nbsp;&nbsp;{{ depTime }}
          </p>
        </ion-col>
      </ion-row>
      <ion-row>
        <p style="font-size: 13px; color:cornflowerblue; margin-left: 4%;" *ngIf="!address">
          <ion-icon name="pin" width="55" height="55" style="margin-top: 6%"></ion-icon>
          &nbsp;&nbsp;N/A
        </p>
        <p style="font-size: 13px; color:cornflowerblue; margin-left: 4%;" *ngIf="address">
          <ion-icon name="pin" width="55" height="55" style="margin-top: 9%"></ion-icon>&nbsp;&nbsp;{{ address }}
        </p>
      </ion-row>
    </div>
  </ion-bottom-drawer>
</div>
<ion-footer no-border>
  <ion-navbar class="footerStyle">
    <ion-row *ngIf="hideplayback"
      style="padding-bottom: 8px; border-bottom: 1px solid lightgray; background-color: transparent;">
      <ion-col col-2 style="padding: 0px 0px 0px 18px; margin-top: 6px;">
        <ion-icon color="secondary" name="pin" style="font-size: 1.5em;"></ion-icon>
      </ion-col>
      <ion-col col-7 style="max-height: 38px !important;overflow: hidden;">
        <p style="margin: 0px; font-size: 0.9em; color: #696666;">
          {{addressLine}}
        </p>
      </ion-col>
      <ion-col col-1 style="text-align: center;">
        <ion-icon color="gpsc" name="battery-charging" style="font-size:1.5em;"></ion-icon>
      </ion-col>
      <ion-col col-2 style="text-align: center;padding: 6px 10px 0px 0px;">
        <p style="margin: 0px; font-size: 1.2em; color: #696666;">
          {{ (battery ? battery : 0) }} V
        </p>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="hideplayback" style="background-color: transparent;border-bottom: 1px solid lightgray;">
      <ion-col col-2 style="padding: 0px 0px 0px 10px;margin-top: 5px;" (click)="play2()">
        <img src="assets/imgs/hplay.png" style="width: 30px;height: 30px; margin: auto;"
          *ngIf="allData.flag2 == 'init'" />
        <img src="assets/imgs/hplay.png" style="width: 30px;height: 30px; margin: auto;"
          *ngIf="allData.flag2 == 'start'" />
        <img src="assets/imgs/pause.png" style="width: 30px;height: 30px; margin: auto;"
          *ngIf="allData.flag2 == 'stop'" />
      </ion-col>
      <ion-col col-7>
        <input type="range" min="0" max={{seekBarValue}} [(ngModel)]="sliderValue" class="slider" id="slider1"
          style="width: 100%; margin-top: 13px;">
      </ion-col>
      <ion-col col-3 style="margin: auto;">
        <ion-select no-padding [(ngModel)]="speedValue123" interface="popover" (ionChange)="changeSpeed(speedValue123)"
          style="max-width: 80%;margin-left: 5px;">
          <ion-option value="1">1px</ion-option>
          <ion-option value="2">2px</ion-option>
          <ion-option value="5">5px</ion-option>
          <ion-option value="10">10px</ion-option>
        </ion-select>
      </ion-col>
    </ion-row>
    <ion-row style="padding:3px 0px 3px 0px !important;background-color: transparent;">
      <ion-col col-2 style="padding: 0px 0px 0px 18px;margin-top: 3px;">
        <ion-icon name="time" style="color:#33cd5f;font-size:1.5em;"></ion-icon>
      </ion-col>
      <ion-col col-3>
        <p style="color:#696666;font-size: 1.2em; margin: 0px;">
          {{ updatetimedate ? updatetimedate : '00:00:00' }}
        </p>
      </ion-col>
      <ion-col col-1 style="padding: 0px 0px 0px 0px;margin-top: 3px;">
        <ion-icon name="speedometer" style="font-size:1.5em;" color="gpsc"></ion-icon>
      </ion-col>
      <ion-col col-3>
        <p style="color:#696666; font-size: 1.2em; margin: 0px;">
          {{ speedMarker ? speedMarker : 0 }}
          {{ (measurementUnit == 'MKS') ? ("Km/hr" | translate) : ("Miles/hr" | translate) }}
        </p>
      </ion-col>
      <ion-col col-1 style="padding: 0px 0px 0px 0px;margin-top: 3px;text-align: center;">
        <ion-icon style="font-size:1.2em;" name="custom-milestone"></ion-icon>
      </ion-col>
      <ion-col col-2>
        <p style="color:#696666;font-size: 1.2em; margin: 0px;">
          {{ cumu_distance ? (cumu_distance | number: "1.0-2") : 0 }}
          {{ (measurementUnit == 'MKS') ? ("Kms" | translate) : ("Miles" | translate) }}
        </p>
      </ion-col>
    </ion-row>

    <ion-row style="border-top: 1px solid lightgray;background-color: transparent;">
      <ion-col col-5 style="padding: 0px 0px 0px 18px;margin-top: 10px;">
        <p style="margin: 0px; color: #696666;font-size: 1.2em;" *ngIf="device">{{device.Device_Name}}</p>
        <p style="margin: 0px; color: #696666;font-size: 1.2em;" *ngIf="selectedVehicle">
          {{selectedVehicle.Device_Name}}</p>
      </ion-col>
      <ion-col col-1 style="padding: 0px;margin-top: 10px;">
        <img src="assets/imgs/totalDist.png" style="width: 21px; height: 21px;" />
      </ion-col>
      <ion-col col-3 style="margin-top: 6px;">
        <p style="margin: 0px; color: gray;font-size: 1.2em;">{{ data2.Distance ? data2.Distance : 0 }}
          {{ (measurementUnit == 'MKS') ? ("Kms" | translate) : ("Miles" | translate)}}</p>
      </ion-col>
      <ion-col col-2 style="margin-top: 3px;" (click)="replayHistory()">
        <ion-row>
          <ion-col col-12 no-padding style="margin-left: 5px;">
            <img src="assets/imgs/replay.png" style="height: 18px; width: 18px;">
          </ion-col>
          <ion-col col-12 no-padding style="margin-top: -2px;">
            <p style="margin: 0px; font-size: 0.7em; color: #696666;">{{"Replay" | translate}}</p>
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col col-1 style="margin-top: 3px; margin-left: -13px;">
        <ion-row (click)="hidePlayRoute()" *ngIf="showRoute">
          <ion-col col-12 no-padding style="text-align: center;">
            <img src="assets/imgs/routebtn.png" style="height: 18px; width: 18px;" />
          </ion-col>
          <ion-col col-12 no-padding style="text-align: center;margin-top: -2px;">
            <p style="margin: 0px; font-size: 0.7em; color: #696666;">{{"Hide" | translate}}</p>
          </ion-col>
        </ion-row>
        <ion-row (click)="hidePlayRoute()" *ngIf="!showRoute">
          <ion-col col-12 no-padding style="text-align: center;">
            <img src="assets/imgs/routebtn_in.png" style="height: 18px; width: 18px;" />
          </ion-col>
          <ion-col col-12 no-padding style="text-align: center;margin-top: -2px;">
            <p style="margin: 0px; font-size: 0.7em; color: #696666;">{{"Hide" | translate}}</p>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>

  </ion-navbar>
</ion-footer>
<!-- <ion-footer class="footSty">
  <ion-row *ngIf="playing" style="background-color: #dfdfdf; padding: 0px !important;max-height: 40px;">
    <ion-col col-9 no-padding>
      <ion-row style="padding: 10px;">
        <ion-col col-1 no-padding style="margin: auto;">
          <ion-icon color="secondary" name="pin" style="font-size: 0.9em;"></ion-icon> &nbsp;&nbsp;&nbsp;
        </ion-col>
        <ion-col col-11 no-padding>
          <p style="margin: 0px; font-size: 0.75em;">
            {{addressLine}}
          </p>
        </ion-col>
      </ion-row>
    </ion-col>
    <ion-col col-3 no-padding>
      <ion-row style="padding-top: 10px">
        <ion-col col-2 no-padding style="margin: auto;">
          <ion-icon name="battery-charging" style="color:#cd7133; font-size:1.1em;"></ion-icon>&nbsp;&nbsp;&nbsp;
        </ion-col>
        <ion-col col-10 no-padding>
          <p style="margin: 0px; font-size: 0.9em;">
            {{ (battery ? battery : 0) }} V
          </p>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
  <ion-row *ngIf="playing" style="background-color: #dfdfdf; padding: 0px !important;">
   
    <ion-col col-5 style="padding: 0px">
      <p style="color:black;font-size:14px; text-align:center;">
        <ion-icon name="time" style="color:#33cd5f;font-size:15px;"></ion-icon>&nbsp;
        <span *ngIf="updatetimedate">{{ updatetimedate }}&nbsp;</span>
        <span *ngIf="!updatetimedate">0:0&nbsp;</span>
      </p>
    </ion-col>

    <ion-col col-3 style="padding: 0px">
      <p style="color:black;font-size:14px;text-align:center;">
        <ion-icon name="speedometer" style="color:#cd4343"></ion-icon>&nbsp;
        <span *ngIf="speedMarker">{{ speedMarker }} {{ "Km/hr" | translate }}</span>
        <span *ngIf="!speedMarker">0 {{ "Km/hr" | translate }}</span>
      </p>
    </ion-col>
    <ion-col col-4>
      <p style="color:black;font-size:14px;text-align:center;margin: 9px;">
        <ion-icon style="font-size:12px" name="custom-milestone"></ion-icon>&nbsp;
        <span *ngIf="cumu_distance">{{ cumu_distance }} {{ "Kms" | translate }}</span>
        <span *ngIf="!cumu_distance">0 {{ "Kms" | translate }}</span>
      </p>

    </ion-col>
  </ion-row>

  <ion-row *ngIf="hideplayback">
    <ion-col col-12>
      <div class="rangeDiv">
        <div style="padding: 5px 0px 0px 15px;">
          <ion-icon color="gpsc" name="arrow-dropright-circle" style="width: 34px;height: 34px;font-size: 34px;"
            *ngIf="!playing" (click)="Playback()">
          </ion-icon>
          <ion-icon color="gpsc" name="pause" style="width: 34px;height: 34px;font-size: 34px;" *ngIf="playing"
            (click)="Playback()"></ion-icon>
        </div>

        <input type="range" min="0" max={{seekBarValue}} [(ngModel)]="sliderValue" class="slider" id="slider1"
          style="width: 200px;margin-left: 20px;margin-right: 20px; box-shadow: 0px 0px 6px 5px lightg">

        <ion-item no-lines no-padding style="max-width: 19%;margin-left: 9%;" class="custItem">
          <ion-select no-padding [(ngModel)]="speedValue123" interface="popover"
            (ionChange)="changeSpeed(speedValue123)" style="max-width: 54%;">
            <ion-option value="1">1px</ion-option>
            <ion-option value="2">2px</ion-option>
            <ion-option value="5">5px</ion-option>
            <ion-option value="10">10px</ion-option>
          </ion-select>
        </ion-item>
      </div>
    </ion-col>
  </ion-row>

  <ion-toolbar>
    <ion-row no-padding>
      <ion-col width-50 style="text-align: center; border-right: 1px solid white; padding: 0px !important">
        <p style="color: white; margin:0px; padding:0px" *ngIf="data2.Distance !== undefined">
          {{ data2.Distance }} {{ "Kms" | translate }}
        </p>
        <p style="color: white; margin:0px; padding:0px" *ngIf="data2.Distance === undefined">
          0 {{ "Kms" | translate }}
        </p>
        <p style="color: white; margin:0px; padding:0px">
          {{ "Total" | translate }} {{ "Distance" | translate }}
        </p>
      </ion-col>
      <ion-col width-50 style="text-align: center; padding: 0px !important">
        <p style="color:#ffffff; margin:0px; padding:0px" *ngIf="data2.AverageSpeed !== undefined">
          {{ data2.AverageSpeed }} ({{ "Km/hr" | translate }})
        </p>
        <p style="color:#ffffff; margin:0px; padding:0px" *ngIf="data2.AverageSpeed === undefined">
          0 ({{ "Km/hr" | translate }})
        </p>
        <p style="color:#ffffff; margin:0px; padding:0px">
          {{ "Average Speed" | translate }}
        </p>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer> -->